*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

.projects

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin

# IntelliJ stuffz
*.iml
.idea

# Maven stuffz
/target
dependency-reduced-pom.xml

# Testing
/test
MUD-log*


#Vim swaps
*.swp
*.swo
*.swn
*.swm
adminpass
*.swl
